@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@font-face{
	font-family: 'Sofia Pro';
	src: url('../fonts/Sofia Pro/sofiaproregular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Sofia Pro';
	src: url('../fonts/Sofia Pro/sofiaprobold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}