@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@media (max-width: 575px) {
  html {
    font-size: 1.1vw; } }

@media (min-width: 576px) {
  html {
    font-size: 5.4px; } }

@media (min-width: 768px) {
  html {
    font-size: 7.2px; } }

@media (min-width: 992px) {
  html {
    font-size: 9.6px; } }

@media (min-width: 1200px) {
  html {
    font-size: 11.4px; } }

* {
  margin: 0;
  padding: 0; }

input:focus {
  outline: none; }

body {
  font-family: 'Arial'; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/Sofia Pro/sofiaproregular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("../fonts/Sofia Pro/sofiaprobold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.ca_under_construction {
  font-size: 0; }
  .ca_under_construction .container-fluid {
    position: relative; }
    .ca_under_construction .container-fluid:before {
      content: '';
      display: block;
      width: 50vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .ca_under_construction .container-fluid.first-screen:before {
      background: url("../img/photo1.jpg") center center no-repeat;
      background-size: cover; }
    .ca_under_construction .container-fluid.second-screen:before {
      background: url("../img/photo2.jpg") center center no-repeat;
      background-size: cover; }
    .ca_under_construction .container-fluid.third-screen:before {
      background: url("../img/photo3.jpg") center center no-repeat;
      background-size: cover; }
    .ca_under_construction .container-fluid.fourth-screen:before {
      background: url("../img/photo4.jpg") center center no-repeat;
      background-size: cover; }
    .ca_under_construction .container-fluid.fifth-screen:before {
      background: url("../img/photo5.jpg") center center no-repeat;
      background-size: cover; }
    .ca_under_construction .container-fluid.sixth-screen:before {
      background: url("../img/photo6.jpg") center center no-repeat;
      background-size: cover; }
    .ca_under_construction .container-fluid ._row {
      min-height: 100vh; }
      .ca_under_construction .container-fluid ._row .ca_txt .content {
        padding-top: 100px;
        padding-left: 5.29134rem;
        padding-right: 5.29134rem; }
        .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .img-block img {
          width: 11.1024rem;
          height: 4.64567rem; }
        .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .icon-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .icon-block a img {
            width: 1.74803rem;
            height: 1.7874rem;
            color: #3769c9; }
          .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .icon-block a:nth-child(2) {
            margin-left: 2.3622rem;
            margin-right: 2.3622rem; }
        .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .still {
          font-family: Sofia Pro;
          font-size: 1.5748rem;
          font-weight: bold;
          letter-spacing: 0.228346rem;
          text-transform: uppercase;
          color: #252226;
          margin-top: 12.2047rem; }
        .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .title {
          font-family: Playfair Display;
          font-size: 5.03937rem;
          font-weight: 900;
          color: #252226;
          overflow: visible; }
          .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .title p {
            margin: 0;
            line-height: 1.3; }
        .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .email {
          margin-top: 3.02362rem; }
          .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .email div {
            postion: relative; }
            .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .email div input {
              width: 100%;
              height: 4.48819rem;
              border: none;
              border-radius: 3px;
              background-color: #ffffff;
              -webkit-box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.05);
              box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.05);
              font-family: Sofia Pro;
              font-size: 1.25984rem;
              color: #362a3b;
              padding-left: 2.51969rem;
              padding-right: 11.3386rem; }
              .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .email div input::-webkit-input-placeholder {
                color: #362a3b;
                opacity: 0.4; }
              .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .email div input::-moz-placeholder {
                color: #362a3b;
                opacity: 0.4; }
            .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .email div a {
              font-family: Sofia Pro;
              font-size: 1.41732rem;
              font-weight: bold;
              color: #3769c9;
              position: absolute;
              right: 5.11811rem;
              top: 1.33858rem; }
        .ca_under_construction .container-fluid ._row .ca_txt .content .container .row .subtitle {
          margin-top: 1.81102rem;
          font-family: Sofia Pro;
          font-size: 1.10236rem;
          font-weight: 300;
          line-height: 1.64;
          color: #59667d; }

@media (max-width: 767px) {
  html {
    font-size: 8px; }
  .ca_under_construction .container-fluid:before {
    width: 100vw; }
  .ca_under_construction .container-fluid .col-md-6:first-child {
    display: none; }
  .ca_under_construction .container-fluid .row .ca_txt {
    height: 100vh; }
    .ca_under_construction .container-fluid .row .ca_txt .content {
      padding: 15px;
      background: rgba(255, 255, 255, 0.75);
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .ca_under_construction .container-fluid .row .ca_txt .content .container .row .img-block {
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px; }
        .ca_under_construction .container-fluid .row .ca_txt .content .container .row .img-block img {
          display: inline-block; }
      .ca_under_construction .container-fluid .row .ca_txt .content .container .row .icon-block {
        margin-top: 0;
        line-height: 1.7874rem; }
      .ca_under_construction .container-fluid .row .ca_txt .content .container .row .still {
        margin-top: 10px; }
      .ca_under_construction .container-fluid .row .ca_txt .content .container .row .title {
        font-size: 36px;
        margin-top: 5px; }
        .ca_under_construction .container-fluid .row .ca_txt .content .container .row .title p {
          line-height: 35px; }
      .ca_under_construction .container-fluid .row .ca_txt .content .container .row .email {
        margin-top: 10px; }
        .ca_under_construction .container-fluid .row .ca_txt .content .container .row .email div input {
          font-size: 12px; }
      .ca_under_construction .container-fluid .row .ca_txt .content .container .row .subtitle {
        font-size: 12px; } }
